html {
    color-scheme: dark
}

:root {
    /* color palette */
    --velvet: #9C0C0C; /* penn red */
    --background: black;
    --text: #F9F8FA; /* seasalt */
    --link: #B89C00;
    --link-visited: var(--link); 
    --link-hover: var(--velvet); 
    --button-color: var(--link);
    --button-hover: wheat;
    --button-active: #7A6800;
    --button-active-text: #B8ABC4;
}

.new-rocker-regular {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
  }

/* unused */
.trade-winds-regular {
    font-family: "Trade Winds", system-ui;
    font-weight: 400;
    font-style: normal;
}

.yu-gothic {
    font-family: "yu-gothic-pr6n", sans-serif;
    font-style: normal;
    font-weight: 400;
}

/* unused */
.fira-sans-bold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: #454a4d #202324;
}

a:link {
    color: var(--link);
}

a:visited {
    color: var(--link-visited)
}

a:active {
    color: var(--link-active)
}

a:hover {
    color: var(--link-hover)
}

a.top-link:link {
    color: var(--background);
}

a.top-link:visited {
    color: var(--background)
}

a.top-link:hover {
    color: var(--button-hover)
}

a.top-link:active {
    color: var(--button-active-text);
    background-color: var(--button-active);
}

.page {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background);
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.menu {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: var(--velvet)
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-shrink: 0;
    column-gap: 15px;
}

.top-link {
    color: var(--text);
    padding: 1px 5px 1px 5px;
    /* padding: 1px 6px; */
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: var(--background);
    background-color: var(--button-color);
    text-decoration: none;
}

.search-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#search {
    width: 200px;
    margin: 5px 5px;
}

.results {
    background-color: var(--background);
    align-items: flex-start;
    min-height: 600px;
    margin: 10px 10px;
    color: var(--text)
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid rgb(51, 55, 57);
}

.surprise-me {
    padding: 5px;
    background-color: var(--button-color);
    color: var(--background);
    padding: 1px 5px 1px 5px;
    /* padding: 1px 6px; */
    border: 1px outset buttonborder;
    border-radius: 3px;
    text-decoration: none;
}

.surprise-me:hover {
    color: var(--button-hover)
}

th,
td {
  padding: 5px;
}

th {
    text-align: left;
}
